/* @import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {
  font-family: "Geist mono", monospace !important;
} */

/* {
  font-family: "Segoe UI", monospace !important;
} */


/* Removing gradients */

/* playlist page? */
/* .main-home-homeHeader - hide home page gradient on top */
/* , .main-entityHeader-container, - hide banner images like in daylist */
/* .main-entityHeader-backgroundColor,
.main-actionBarBackground-background {
  background-color: unset !important;
  background-image: none;
} */

/* album page */
/* .XVz4BMGP5zAEE5p90mYK, .blfR_YJUsKUvdgTejBSb, .Bdcf5g__Rug3TGqSdbiy {
  --background-base: unset !important; 
  --background-base-min-contrast: unset !important;
  --background-base-70: unset !important;
  --text-subdued: var(--text-subdued) !important;
} */

 /* artist page */
/* .Bdcf5g__Rug3TGqSdbiy {
  --background-base-70: unset !important;
  --text-subdued: var(--text-subdued) !important;
} */


/* white text instead of accented color - doesnt work&
.encore-internal-color-text-subdued {
  color: var(--text-subdued) !important;
} */

/* top bar color link */
.main-topBar-background,
.main-home-filterChipsSection  {
  background-color: var(--spice-sidebar) !important;
}


/* is this file really necessary? */

.lyrics-lyrics-background {
  visibility: hidden !important;
}


/* Better lyrics style */

.lyrics-lyricsContent-lyric {
    transition: 0.1s cubic-bezier(.47,1.64,.41,.8); /* mmmmm bouncyyyyy */
}

.lyrics-lyrics-contentContainer .lyrics-lyrics-contentWrapper {
    margin-left: 3vh;
    align-self: flex-start;

    /* mute margin-left & align-self to fix centering */
    /* text-align: center; */
    width: fit-content;
}

.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-highlight:hover {
  filter: blur(0);
  transition: 0.1s linear;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-highlight { 
  filter: blur(5px) brightness(0.4); padding: 4px; 
  font-size: 75%;
} 

.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-active { 
  filter: none; padding-bottom: 38px; padding-top: 38px; font-size: 90%;
} 

.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric:hover {
  filter: blur(0);
  transition: 0.1s linear;
}
.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric { 
  filter: blur(1.5px) brightness(0.5); padding: 4px; 
  font-size: 75%;
} 

.lyrics-lyrics-contentContainer .lyrics-lyricsContent-lyric.lyrics-lyricsContent-unsynced { 
  filter: brightness(0.6); padding: 10px;

  font-size: 75%;
}

.lyrics-lyricsContent-provider {
  filter: brightness(0.5)
}

.os-scrollbar.os-scrollbar-handle-interactive .os-scrollbar-handle, .os-scrollbar.os-scrollbar-track-interactive .os-scrollbar-track{
  /* width: 0 !important; */
  opacity: 0;
}

/* .spotify__container--is-desktop:not(.fullscreen) body::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 999;
    backdrop-filter: brightness(2.12);
    width: 162px;
    height: 38px;
    top: 12px;
} */
/* bruh windows users - hide if you dont use windows */

.spotify__container--is-desktop:not(.fullscreen) body::after {
    content: "";
    position: absolute;
    right: 0;
    z-index: 999;
    backdrop-filter: brightness(2.12);
    width: 162px;
    height: 63px;
    top: 0px;
}
/* bruh windows users but if bar higher in your windows app - hide if you dont use windows */
