/* @import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

* {
  font-family: "Geist mono", monospace !important;
} */

/* {
  font-family: "Segoe UI", monospace !important;
} */


/* is this file really necessary? */

.lyrics-lyrics-background {
  visibility: hidden !important;
}

/* scrollbar hide */

/* .os-scrollbar.os-scrollbar-handle-interactive .os-scrollbar-handle, .os-scrollbar.os-scrollbar-track-interactive .os-scrollbar-track{
  width: 0 !important;
} */
